* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    background-color: #fff0f5;
    position: relative;
    font-family: "Oswald", sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */

}

.header-icons {
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    /* border: 1px solid black; */
    margin: 25px;
}

.header-icon:hover {
    color: #f498b7;
    transition: 500ms ;
    font-size: 1.8em;
    cursor: pointer;
}

.header-logo img {
    /* position: absolute; */
    width: 250px;
    
}

.header-contato {
    font-weight: 1000;
    border: 1px solid black;
    border-radius: 5px;
    margin: 25px;
    padding: 10px;
    cursor: pointer;
}

.header-contato:hover {
    transition: 500ms ;
    background-color: #f498b7;
    border: 1px solid #fff;
    color: #fcf3f6;
}



.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    width: 300px;
}

